

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/sketch_3d-webfont.woff'); /* IE9 Compat Modes */
    src: url('../fonts/sketch_3d-webfont.woff') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Sketch\ 3D.woff'), /* Super Modern Browsers */
         url('../fonts/Sketch\ 3D.woff') format('otf'), /* Pretty Modern Browsers */
         url('../fonts/Sketch\ 3D.woff')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

    
  }


html {
	box-sizing: border-box;
}

.container{
    
}

body { 
	min-height: 100%;
    background: url("../images/background.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

p{
    margin-top: -169px;
}

.total{
    margin: -10px;
    font-size: 15px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari 3-8 */
    transform: rotate(-20deg); 
}
h1{
    font-family: "MyWebFont", "Sketch3d", sans-serif;
    font-size: 4em;
    margin: 4em;

}

h3 {
	margin: 0px 0px 0px 0px;
    letter-spacing: 3px;
    font-family: "MyWebFont", "Sketch3d", sans-serif;
    font-size: 4em;
}

#magicNumber{
    font-family: "MyWebFont", "Sketch3d", sans-serif;
    font-size: 4em;
}

.header {
	padding: 70px 0px 0px 0px;
	
}

h1, h3, #totalScore, #wins, #losses, .score {
	color: #5073aa;
}

h1 {
	color: black;
	margin: 40px 0px 35px 0px;
	letter-spacing: 9px;
}

.crystalimg {
    width: 150px;
    margin: 30px auto;
} 

#crystal1.crystalimg:hover{
    background-image: url("../images/gemColor1.png");
    background-position: center;
  }
  
  #crystal2.crystalimg:hover{
      background-image: url("../images/gemColor2.png");
      background-position: center;
    }
  
    #crystal3.crystalimg:hover{
      background-image: url("../images/gemColor3.png");
      background-position: center;
    }
  
    #crystal4.crystalimg:hover{
      background-image: url("../images/gemColor4.png");
      background-position: center;
    }
    
   


.directions {
	color: black;
    text-align: center;
    font-size: 1.5em;
    padding: 7em 3em;
    padding-bottom: 1em;
    margin-left: 5em;
}

.score {
	margin: 40px;
	font-size: 45px;
    letter-spacing: 3px;
    font-family: "MyWebFont", "Sketch3d", sans-serif;
    
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(20deg); 
    
   
}

#winOrLose {
	color: #a182bc;
}

.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #a182bc;
	letter-spacing: 3px;
}




