

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/sketch_3d-webfont.woff'); /* IE9 Compat Modes */
    src: url('../fonts/sketch_3d-webfont.woff') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Sketch\ 3D.woff'), /* Super Modern Browsers */
         url('../fonts/Sketch\ 3D.woff') format('otf'), /* Pretty Modern Browsers */
         url('../fonts/Sketch\ 3D.woff')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

    
  }


html {
	box-sizing: border-box;
}

body { 
	min-height: 100%;
    background: url("../images/background.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

h1{
    font-family: "MyWebFont", "Sketch3d", sans-serif;
    font-size: 5em;
    margin: 4em;

}

h3 {
	margin: 80px 0px 10px 0px;
    letter-spacing: 3px;
    
    
}

#magicNumber

.header {
	padding: 70px 0px 0px 0px;
	color: grey;
}

h1, h3, #magicNumber, #totalScore, #wins, #losses, .score {
	color: #5073aa;
}

h1 {
	color: black;
	margin: 40px 0px 35px 0px;
	letter-spacing: 9px;
}

.crystalimg {
    width: 150px;
    margin: 30px auto;
} 

#crystal1.crystalimg:hover{
  background-image: url("../images/crystal1.png")
}

.gemColor{
    margin: -15px;
    margin-left: -10px;
    
}

.gemColorOverlay{
    margin: -222px;
    
    
}


.directions {
	color: grey;
    text-align: center;
    font-size: 1.5em;
    padding: 7em 2em;
    padding-bottom: 1em;
    margin-left: 5em;
}

.score {
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
}

#winOrLose {
	color: #a182bc;
}

.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #a182bc;
	letter-spacing: 3px;
}




